<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Dashboard</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/styles.css') }}">
</head>
<body>
    <div class="dashboard-container">
        <button class="hamburger" aria-label="Toggle Menu">☰</button>
        <main class="main-content">
            <header class="header">
                <div class="user-profile">
                    <img src="{{ current_user.profile_picture if current_user.profile_picture else url_for('static', filename='images/user.png') }}" alt="User Profile" class="user-icon">
                    <div class="user-dropdown">
                        <p class="user-name">{{ current_user.username }}</p>
                    </div>
                </div>
            </header>
            <section class="content">
                <h2>Bienvenido, {{ current_user.username }}!</h2>
                <div class="dashboard-cards">
                    <div class="card">
                        <h3>Funcionarios</h3>
                        <p>Administra el personal activo.</p>
                        <a href="{{ url_for('official.get_officials') }}" class="card-link">Ver Detalles</a>
                    </div>
                    <div class="card">
                        <h3>Cursos</h3>
                        <p>Gestiona los cursos disponibles.</p>
                        <a href="{{ url_for('training.get_trainings') }}" class="card-link">Ver Detalles</a>
                    </div>
                    <div class="card">
                        <h3>Usuarios</h3>
                        <p>Controla los usuarios del sistema.</p>
                        <a href="{{ url_for('user.get_users') }}" class="card-link">Ver Detalles</a>
                    </div>
                </div>
            </section>
        </main>
    </div>
    <script src="{{ url_for('static', filename='js/sidebar.js') }}"></script>
</body>
</html>